
<!-- header - logo-->



<body>
<header>
<img class="img-responsive hidden-xs" src="/img/logo.png" alt="logo de julie">

</header>
  <!-- end header - logo-->

  <!-- Navigation -->

          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <img id="Logo" class="hidden-sm hidden-md hidden-lg" src="img/logo.png" alt="Logo Julie Rouet"/>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                  <li class="active unactive hidden-xs">HOME<span class="sr-only"></span></li>
                  <li class="active unactive hidden-xs">PRESENTATION<span class="sr-only"></span></li>
                  <li class="active unactive hidden-xs">VIDEO<span class="sr-only"></span></li>
                  <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTFOLIO</a>
                      <ul class="dropdown-menu">
                        <li><a href="statics-pages/book.html.erb">BOOK</a></li>
                        <li><a href="statics-pages/webedia.html.erb">WEBEDIA</a></li>
                        <li><a href="statics-pages/illustration.html.erb">ILLUSTRATIONS</a></li>
                        <li><a href="statics-pages/descriptif.html">LOOSER</a></li>
                        <li><a href="statics-pages/thefreeheads.html.erb">THE FREE HEADS</a></li>
                        <li><a href="statics-pages/biche&renard.html.erb">LA BICHE ET LE RENARD</a></li>
                    </ul>
                </li>
                <li class="active unactive hidden-xs">CONTACTEZ-MOI<span class="sr-only"></span></li>


                  <li class="active visible-xs unactiveXs">HOME</li>
                  <li class="active visible-xs unactiveXs">PRESENTATION</li>
                  <li class="dropdown visible-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTFOLIO</a>
                      <ul class="dropdown-menu">
                        <li><a href="statics-pages/book.html.erb">BOOK</a></li>
                        <li><a href="statics-pages/webedia.html.erb">WEBEDIA</a></li>
                        <li><a href="statics-pages/illustration.html.erb">ILLUSTRATIONS</a></li>
                        <li><a href="statics-pages/descriptif.html">LOOSER</a></li>
                        <li><a href="statics-pages/thefreeheads.html.erb">THE FREE HEADS</a></li>
                        <li><a href="statics-pages/biche&renard.html.erb">LA BICHE ET LE RENARD</a></li>
                    </ul>
                </li>
                <li class="visible-xs">
                      <a href="a-propos/a-propos.html">CONTACTEZ-MOI</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <div class="visible-xs" style="height: 55px;"></div>
          <img class="center-block img-responsive hidden-xs" src="/img/barre-sous-nav.png" alt="soulignement barre de nav">

  <!-- Navigation -->



  <!-- Présentation-->
<div>

<img class="img-responsive hidden-xs" src="/img/julie.png" alt="photo de julie">
<img class="img-responsive hidden-xs" src="/img/1.png" alt="1 en paillettes">
<hr>
<h3>Présentation</h3>
<p>Bonjour, je m’appelle Julie, je suis diplomée de graphisme et actuellement en formation de développeur web.
Je suis curieuse et pasionnée, tout m’interesse et ma soif d’apprendre est insatiable . J’aime la vie, j’aime tester de nouvelles choses et je suis toujours partante pour de nouveaux défits.
Je vous laisse me dévouvrir plus
emplement en parcourant ce site
internet. N’hésitez pas à télécharger mon cv si mon profile vous interesse.
Bonne visite !</p>

</div>
<!-- Présentation-->

<!-- Vidéo-->
<div>

<img class="img-responsive hidden-xs" src="/img/2.png" alt="2 en paillettes">
<video src=""></video>
<hr>
<h3>Vidéo</h3>
<p>J’aime particulièrement dessiner. Ce qui me touche en général et qui m’inspire c’est l’humanité. J’apprécie ce qui n’est pas parfait. J’aime le figuratif mais que lorsqu’il n’est pas empreint de mimésis. Ce qui m’interesse c’est l’interprétation, j’aime les représentations déformées et subjctives où l’on ressent l’homme et ses imperfections plutôt que la technicité irréprochable qui me fait penser aux productions de machines.
Voici un petit dessins-animés qui vous permettra peut-etre de mieux appréhender mon univers et découvrir ma personnalité.</p>

</div>
<!-- vidéo-->

<!-- portfolio-->
<div>
  <img class="img-responsive hidden-xs" src="/img/3.png" alt="3 en paillettes">
  <hr>
  <h3>Portfolio</h3>
  <p>voici les travaux que j’ai pu réaliser au cours de ma scolarité, de mes stages, ainsi que mes projets personnels. Ils se composent de créations graphiques mais également de réalisations pour le web avec des projets complets Front et Backend.</p>

</div>
<div class="container">



        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x750" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->


<!-- portfolio-->

<!-- contactez-moi-->
<div>
  <img class="img-responsive hidden-xs" src="/img/4.png" alt="4">
    <img class="img-responsive hidden-xs" src="/img/contactez-moi.png" alt="titre contactez-moi">
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Votre message *" id="name" required data-validation-required-message="Veuillez entrez votre nom.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Votre adresse Email *" id="email" required data-validation-required-message="veuillez entrer une adresse Email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Votre numéro de téléphone *" id="phone" required data-validation-required-message="veuillez entrer votre numéro de téléphone.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Votre message *" id="message" required data-validation-required-message="Veuillez composer votre message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Envoyer  message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- contactez-moi-->

<!-- footer-->
<img class="img-responsive hidden-xs" src="/img/fb.png" alt="lien facebook">
<img class="img-responsive hidden-xs" src="/img/in.png" alt="lien linkedin">
<img class="img-responsive hidden-xs" src="/img/guithub.png" alt="lien guithub">


<!-- footer-->
<!--
<script>
  //
	// // Pretty simple huh?
	// var scene = document.getElementById('scene');
	// var parallax = new Parallax(scene);

	</script> -->
  </body>
