
<!-- header - logo-->


<header>
  <img class="center-block img-responsive hidden-xs" src="" alt="logo">


</header>
<!-- end header - logo-->
<body>

  <!-- Navigation -->

          <nav class="navbar navbar-default nav-fixed">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <img id="Logo" class="hidden-sm hidden-md hidden-lg" src="img/logo.png" alt="Logo Julie Rouet"/>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">

                  <li class="active unactive hidden-xs">HOME<span class="sr-only">(current)</span></li>
                  <li class="active unactive hidden-xs">PRESENTATION<span class="sr-only">(current)</span></li>
                  <li class="active unactive hidden-xs">VIDEO<span class="sr-only">(current)</span></li>
                  <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTFOLIO</a>
                      <ul class="dropdown-menu">
                        <li><a href="statics-pages/book.html.erb">BOOK</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="statics-pages/webedia.html.erb">WEBEDIA</a></li>
                        <li><a href="statics-pages/illustration.html.erb">ILLUSTRATIONS</a></li>
                        <li><a href="statics-pages/descriptif.html">LOOSER</a></li>
                        <li><a href="statics-pages/thefreeheads.html.erb">THE FREE HEADS</a></li>
                        <li><a href="statics-pages/biche&renard.html.erb">LA BICHE ET LE RENARD</a></li>
                    </ul>
                </li>
                <li class="active unactive hidden-xs">CONTACTEZ-MOI<span class="sr-only">(current)</span></li>


                  <li class="active visible-xs unactiveXs">HOME</li>
                  <li class="active visible-xs unactiveXs">PRESENTATION</li>
                  <li class="dropdown visible-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">PORTFOLIO</a>
                      <ul class="dropdown-menu">
                        <li><a href="statics-pages/book.html.erb">BOOK</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="statics-pages/webedia.html.erb">WEBEDIA</a></li>
                        <li><a href="statics-pages/illustration.html.erb">ILLUSTRATIONS</a></li>
                        <li><a href="statics-pages/descriptif.html">LOOSER</a></li>
                        <li><a href="statics-pages/thefreeheads.html.erb">THE FREE HEADS</a></li>
                        <li><a href="statics-pages/biche&renard.html.erb">LA BICHE ET LE RENARD</a></li>
                    </ul>
                </li>
                <li class="visible-xs">
                      <a href="a-propos/a-propos.html">CONTACTEZ-MOI</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          <div class="visible-xs" style="height: 55px;"></div>
          <!-- /Navigation -->
  <!-- Navigation -->
</body>
