/*
/************Header**************/
header {

 text-align: center!important;
 padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
}






/************GENERAL PROPRIERTY OF NAV BAR**************/

/************fonts**************/


body {
  font-family: 'Abril Fatface';
}

.titre {
  font-family: 'Noto Sans', sans-serif;

}

nav {
    min-height: 40px!important;
    border: none!important;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
}

ul.navbar-nav {
    text-align: center;
    float: none;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
    margin-right: -8px;
}

.navbar-nav > li > a{
    padding: 10px;
    color: #000!important;
}

.navbar-nav .open .dropdown-menu > li > a{
    color: #000!important;
}

.dpactive > a,
.dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav > li.open > a:hover,
.navbar-nav > li.open > a:focus {
    background-color: white!important;
}
    /**** NAV SM MD LG PROPRIETY ****/

.unactive {
    padding: 10px;
    background-color: white;
    color: black;
    cursor: default;
}

.MarginBottom{
    margin-bottom: 8px;

}
    /***** NAV XS PROPRIETY *****/

#Logo {
    height: 50px;
}

.unactiveXs {
    display: block;
    height: 40px;
    padding-top: 10px;
    background-color: white!important;
    color: black;
    cursor: default;
}

.unactiveXsDp {
    display: block;
    height: 40px;
    padding-top: 10px;
    background-color: white!important;
    color: black;
    cursor: default;
    padding-left: 25px;
}
    /***** NAV XS FIXED ****/
@media (max-width: 767px) {

.nav-fixed {
    right: 0;
    left: 0;
    }
}

/***** présentation ****/

.presentation {
  margin-top: 5%;
}

 .julie {
  display: inline-block!important;
    height: 500px;
      margin-left: 10%;
}
 .one {
  display: inline-block!important;
    height: 150px;
    margin-top: 3%;
    margin-left: 35%;
}

h3 {
  text-align: center;

}

hr {
  margin-top: 15%;
  height: 1px;
	border: 0;
	color: black;
	background-color: black;

}
p {
  font-family: 'Inconsolata';


}

/***** présentation ****/

/***** vidéo ****/
.two {
    display: inline-block!important;
    height: 150px;

    margin-top: 10%;
}


/***** vidéo ****/

/***** portfolio ****/

.portfolio-item {
    margin-bottom: 25px;
}
